<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>de.roebling.samples.rad</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>rad</string>
	<key>CFBundleIconFile</key>
	<string>rad.icns</string>
	<key>CFBundleName</key>
	<string>RAD</string>
	<key>CFBundleTypeIconFile</key>
	<string>rad.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleGetInfoString</key>
	<string>RAD sample, (c) 2002-2005 Robert Roebling</string>
	<key>CFBundleLongVersionString</key>
	<string>1.0, (c) 2002-2005 Robert Roebling</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2002-2005 Robert Roebling</string>
	<key>LSRequiresCarbon</key>
        <true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
